.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
    height: var(--navbar-height);
    position: fixed;
    transition: transform 1s;
    top: 0;
    left: 0;
    width: 100%;
}

.img {
    max-height: 100%;
    width: auto;
}

.wraper {
    height: fit-content;
}

.wraper button{
    margin: 0 20px;
    background-color: transparent;
    color: var(--color-white);
}
