@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-white: white;
    --color-white-blur-light: rgba(255, 255, 255, 0.7);
    --color-white-blur-dark: rgba(255, 255, 255, 0.2);
    --background-color-dark: rgba(24, 32, 44, 0.9);
    --background-navbar: rgba(24, 32, 44);
    --color-blue-active: rgba(0, 0, 102, 1);
    --navbar-height: 80px;
    --space: 20px;
}

#sidebar {
    transform: translateX(-500px);
}

#sidebar.active {
    transform: translateX(0);
}

#content {
    margin-left: 0;
}

#main {
    margin-top: var(--navbar-height)
}

#navbar {
    transform: translateY(0)
}

#select{
    display: none;
}

@media screen and (min-width: 768px) {
    #sidebar {
        transform: translateX(0);
    }
    #content {
        margin-left: 250px;
    }
    #navbar {
        transform: translateY(-500px)
    }
    #main {
        margin-top: 0;
    }
    #select{
        display: inline-block;
    }
}